{% extends 'card.html' %}

{% block title %}
<title>Шамбала "Пинежье"</title>
{% endblock %}

{% block name %}Шамбала "Пинежье"{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}1 день{% endblock %}
{% block money %}4400 руб.{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_3.jpg"/>{% endblock %}
{% block text %}Завораживающие виды на водохранилище Нижне-Бурейской ГЭС, прогулка по подвесным мостам в месте
тектонического разлома, чистейший воздух, увлекательная экскурсия и вкусный обед - всё это в нашем туре.<br>
Приключение в мире где у вас остановится время. Неспешная прогулка по подвесным мостикам в золоте осени.<br>
<br>
Программа:<br>
8.00 выезд<br>
11.30 обзор нижн.бурейской гэс<br>
12.00 экскурсия по шамбале<br>
13.00 обед<br>
13.30 свободное время для прогулок<br>
17.00 выезд из Пинежья<br>
20.00 возвращение в город<br>
<br>
Пинежье (дивный уголк, прогулка по подвесным мостам)<br>
Нижнебурейская ГЭС (обозрение со смотровой площадки)<br>
Проезд, обед в беседке, экскурсия по территории<br>
<br>
Уровень сложности: доступно каждому, с 5 лет<br>
Уровень комфорта: экскурсия не продолжительная (до1км), по тропе, по сопкам{% endblock %}