{% extends 'card.html' %}

{% block title %}
<title>Михайловские столбы</title>
{% endblock %}

{% block name %}Михайловские столбы{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}6 часов{% endblock %}
{% block money %}1400 руб.{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_2.jpg"/>{% endblock %}
{% block text %}-Приглашаем Вас на «Михайловские столбы» – скалы каскада 16 утесов, которые находятся рядом с границей
Китая. Считается, что столбы появились от 115 до 67 млн лет назад, возможно, вследствие выхода лавы из разлома или вулкана.
Место популярно среди туристов и любителей активного отдыха.<br>
-Отправляемся из Благовещенска в 11ч, вернёмся обратно примерно в 17-18 ч.<br>
<br>
В стоимость входит:<br>
-посещение оборонительного военного укрепления генерала Карбышева;<br>
-посещение Михайловского музея;<br>
-поход 5-5, 5 км;<br>
-гид, инструктор;<br>
-проезд в обе стороны.<br>
<br>
С собой взять в рюкзак: вода питьевая, перекус.{% endblock %}