{% extends 'card.html' %}

{% block title %}
<title>Змеиная гора</title>
{% endblock %}

{% block name %}Змеиная гора{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}1 день{% endblock %}
{% block money %}3 500{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_5.jpg"/>{% endblock %}
{% block text %}-Змеиная гора находится в Благовещенском районе. От села Бибиково туда и обратно чуть больше 20 км.<br>
С ней связана примечательная история. 6 лет назад с неё началось становление группировки «Внесистемные туристы», в которую
сейчас входят несколько сотен человек, заряженных на исследование новых мест. Но все началось здесь, когда первая группа
шла мимо «системы» – колючей проволоки, натянутой вдоль границы. А она здесь в двух шагах. Проволоку туристы неоднократно
задевали, не зная, что пограничникам придет сигнал о нарушении границы. Искали туристов-нарушителей сразу с нескольких
застав, нашли, но отпустили с миром.<br>
Каждый год именно с началом поздней осени сюда вновь и вновь идут туристы - проверить свои силы и взобраться по курумнику на вершину, полюбоваться видами заснеженного леса и бескрайних полей на границе с Китаем.<br>
-р.Гуран, 80км от Благовещенска.<br>
-Мы прогуляемся пешком с обзорной экскурсией по скалистому ущелью реки Гуран к живописной сопке.<br>
-Протяженность маршрута до 16 км.<br>
-Прогулки по окрестностям на вершины.<br>
-С собой: маленький рюкзак, перекусы, чай в термосе. Треккинговые палки по желанию. Обязательно удобная обувь. Паспорт.<br>
-Уровень сложности: доступно каждому, с 14 лет.<br>
-Уровень комфорта: минимальный. Классический поход с рюкзаком, ночёвка в зимовье.<br>
{% endblock %}