{% extends 'card.html' %}

{% block title %}
<title>Храмовые горы</title>
{% endblock %}

{% block name %}Храмовые горы{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}2 дня{% endblock %}
{% block money %}13 000 руб.{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_4.jpg"/>{% endblock %}
{% block text %}Приглашаем вас в тур на Храмовые горы. Тайга, останцы древних "великанов", потрясающие виды с гор на
водохранилище Бурейской ГЭС, вечером после похода жаркая баня, прохладная вода Буреи и никакой связи и интернета.<br>
<br>
Впервые каменные останцы были обнаружены любопытными туристами в 2020 году.
Расположены в тайге Бурейского района и были созданы самой природой в течение миллиона лет, их высота составляет 15-20
метров. С виду кажется, что раскинул каменные глыбы огромный великан, но природа действительно творит чудеса.
Забравшись на вершины Храмовых гор, вам откроются живописные пейзажи Амурской тайги.<br>
<br>
В программе:<br>
- Экскурсия по Бурейскому водохранилищу на корабле<br>
- Пешеходная  прогулка по  дальневосточной тайге<br>
- Автомобильная экскурсия по берегу Буреи<br>
<br>
В стоимости:  Проезд из Благовещенска, прогулка на корабле, проживание в гостевом доме, питание,
услуги инструктор-проводник, баня <br>
<br>
Уровень сложности:  таежный экстрим, с 9 лет (идём по тайге без тропы!)<br>
ровень комфорта: средний, лесной гостевой дом<br>
{% endblock %}