{% extends 'card.html' %}

{% block title %}
<title>Хребет тукурингра</title>
{% endblock %}

{% block name %}Хребет тукурингра{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}4 дня, 3 ночи{% endblock %}
{% block money %}20 000 руб.{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_1.png"/>{% endblock %}
{% block text %}-Четырехдневный пеший маршрут протяженностью 30 километров для людей, уставших от городского шума и
суеты в компании опытных гидов, которые расскажут вам много интересного о хребте и Зейском заповеднике, на территории
которого проложен маршрут. Вас ждут уютные горные приюты, где будет комфортно путнику даже при отсутствии благ цивилизации.
У вас будет уникальная возможность остаться наедине со своими мыслями в тишине, которую могут нарушить от ветра только
шум деревьев и журчание ручьев.<br>
-г.Зея, хребет Тукурингра, Зейский заповедник, кордон Грозовое плато.<br>
-Прогулка по Зейскому заповеднику, кордон с таежными постройками Грозовое плато, вершина 1300м, приют На семи ветрах, обзор Зейской ГЭС.<br>
-Пешеходный маршрут до гостевого домика 7км.<br>
-Прогулки по окрестностям на вершины.<br>
-Снаряжение, питание, инструктор, проводник - в стоимости.<br>
-Уровень сложности: Доступно только активным людям с 12 лет.<br>
-Уровень комфорта: минимальный. Классический поход с рюкзаком, ночёвка в зимовье.<br>
<br>
   1 ДЕНЬ<br>
09:00 Выезд из г. Зея по гравийной дороге «Зея-Золотая гора» до кордона Каменушка на 62 км.<br>
11:00 Прибытие на кордон, переупаковка рюкзаков, инструктаж проводника<br>
11:30 Выход на маршрут. Переход 6 километров до горного приюта «Грозовое плато» с набором высоты (900 метров тропы с крутым подъемом). Время в пути от 4 до 6 часов<br>
14:00-16:00 Прибытие на горный приют, приготовление пищи, обед, ужин, отдых<br>
21:00-22:00 Любование закатом на каменных останцах рядом с горным приютом<br>
<br>
   2 ДЕНЬ<br>
08:00 Подъем, приготовление пищи, завтрак<br>
09:00-10:30 Переход на гребень хребта Тукурингра в горную тундру. От избушки до гребня хребта - 1,5 километра. Высота на гребне 1400 метров над уровнем моря. Превышение над межгорными котловинами 1000 метров. Протяженность прогулки по тундре по желанию группы<br>
11:0-14:00 Отдых, перекус, прогулка по хребту, любительская фотосессия, посещение 1 и 2 купола Тукурингры<br>
14:30 Возвращение на приют<br>
15:30 Приготовление пищи<br>
17:00 Ужин, обмен впечатлениями и эмоциями<br>
17:30-18:00 Проводы заката<br>
<br>
   3 ДЕНЬ<br>
7:00 Подъем<br>
07:15-08:00 Встречаем рассвет<br>
08:00-09:00 Приготовление пищи, завтрак, наведение порядка на горном приюте<br>
09:30 Выход к автомобилям. Время в пути около 3 часов<br>
12:00 Отъезд с кордона «Каменушка» в город Зея. Время в пути - 1,5 часа<br>
{% endblock %}