{% extends 'card.html' %}

{% block title %}
<title>Змеиная гора</title>
{% endblock %}

{% block name %}Муравьевский парк{% endblock %}
{% block number %}Групповая{% endblock %}
{% block clock %}5-6 асов{% endblock %}
{% block money %}1 000{% endblock %}
{% block img %}<img style="margin-top:30px;" id="image" src="static/img/img_6.jpg"/>{% endblock %}
{% block text %}-Приглашаем на экскурсию в парк устойчивого природопользования и экопросвещения Муравьевский — это первая в России особо используемая природная территория (ОИПТ).<br>
-Все желающие ознакомятся с природой нашего журавлиного края. Расскажем о миграции птиц и вместе понаблюдаем за ними.<br>
-Также узнаем о целях и задачах выращивания японских журавлей и их реинтродукции в дикую природу, пройдём к вольерам, смотровой площадке, прогуляемся
вдоль пойменной террасы. Увидим таких характерных для нашей области птиц, как даурского и японского журавля, дальневосточного аиста. Сделаем незабываемые фотографии на память.<br>
-Трансфер в обе стороны предоставляем.<br>
-Прогулки по окрестностям на вершины.<br>
-С собой: бутерброды,  термос с чаем.<br>
-Выезжаем в 9:30 из Благовещенска, центр. Вернёмся в Благовещенск примерно в 15-16ч. вечера.<br>
-Запись при 100% предоплате.<br>
{% endblock %}