{% extends 'base.html' %}

{% block title %}
<title>Добавление отзыва</title>
{% endblock %}

{% block body %}
<form class="container" enctype="multipart/form-data" action="" method="post">
    <h1 style="margin-top:150px; margin-bottom:60px;" class="display-2">Поделись впечатлениями</h1>
    {{ form.hidden_tag() }}
    <h4>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </h4>
    <h4>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </h4>
    <div class="mb-3">
            <label class="form-label" for="customFile">Upload</label>
            <input type="file" class="form-control" id="customFile" name="file">
          </div>
    <p>{{ form.submit(type="submit", class="btn btn-lg btn-danger") }}</p>
    {{message}}

</form>

{% endblock %}