{% extends 'base.html' %}

{% block title %}
<title>Контакт</title>
{% endblock %}

{% block body %}
<h1 class="display-1 text-body-emphasis text-center" style="margin-top:170px; margin-bottom:60px;">Позвоните или напишите нам!<br>Наши контакты:</h1>
  <div class="conteiner marketing">
  <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Космодром Восточный</h2>
        <p class="lead">Космодром Восточный был открыт в 2011 году и стал важным объектом для запуска космических ракет и
          спутников. Он был создан для разнообразных космических миссий, включая коммерческие и государственные запуски.<br>
        <br>
        Космодром Восточный является первым космодромом в России, который был полностью построен и разработан после распада Советского Союза.
          Он представляет собой современный комплекс с современной инфраструктурой и технологиями.<br>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        <image x="0" y="0" width="120%" xlink:href="static/img/photo/map.png" />
        </svg>
      </div>
  </div>
  </div>
{% endblock %}