{% extends 'base.html' %}

{% block title %}
<title>Контакт</title>
{% endblock %}

{% block body %}
<h1 class="display-1 text-body-emphasis text-center" style="margin-top:100px; margin-bottom:60px;">Позвоните или
    напишите нам!</h1>
<div class="conteiner marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2>Наше местоположение:</h2>
            <p class="lead">Филиал нашей компании на ходится по адресу г.Благовещенск
                ул.Ленина 104  корпус А
                <h2>Позвоните или напишите нам!</h2>
                Наш телефон: +7 (914) 389-27-87
                <br>
                Наша почта: amurcompass@gmail.com
                <br>
                <h2>Для связи по вопросам рекламы:</h2>
                Отдел макретинга:
                <br>
                Юлия: +7 (909) 657-90-78
                <br>
                Павел: +7 (928) 875-52-54
                <br>
                Почта: adveramurcom@yandex.ru

            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700"
                 height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
                <image x="200" y="0" width="80%" xlink:href="static/img/photo/map.png"/>
            </svg>
        </div>
    </div>
</div>
{% endblock %}