{% extends 'base.html' %}

{% block title %}
<title>Авторизация</title>
{% endblock %}

{% block body %}
<form style="margin-top:150px; margin-bottom:90px;" class="container" action="" method="post">
  <h1 style="margin-bottom:50px;" class="display-2">Авторизация
  <svg class="link-danger" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
  </svg>
  </h1>
  {{ form.hidden_tag() }}
  <h4>
    {{ form.email.label }}<br>
    {{ form.email(class="form-control", type="email") }}<br>
    {% for error in form.email.errors %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endfor %}
  </h4>
  <h4>
    {{ form.password.label }}<br>
    {{ form.password(class="form-control", type="password") }}<br>
    {% for error in form.password.errors %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endfor %}
  </h4>
  <h4>{{ form.remember_me() }} {{ form.remember_me.label }}</h4>
  <br>
  <h4>{{ form.submit(type="submit", class="btn btn-lg btn-outline-danger") }}</h4>
  <div>{{ message }}</div>
</form>
{% endblock %}